<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyDbConn1"
         connectionString="Server=DESKTOP-V0D3HC8;Database=Teretana;Trusted_Connection=Yes;"/>
    <!--<add name="MyDbConn2"
        connectionString="Initial Catalog=MyDb;Data Source=MyServer;Integrated Security=SSPI;"/>-->
  </connectionStrings>
</configuration>